*{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    height: 5000px;
    /* display: flex;    */
}
.container{
    /* display: flex; */
    /* margin-top: 10; */
    /* margin-top: auto; */
    position: fixed;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: inherit;
    /* overflow: hidden;  */
    z-index: 0;
}
.row{
    display: flex;
    height: inherit;
}
.left{
    /* overflow: scroll; */
    max-width: 20%;
    height: inherit;
    align-items: center;
    background-color: grey;
}

.fixed-top{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: darkgrey;
    margin-bottom: auto;
    position: relative;

    top: 0; /* 화면 상단에 고정 */
    left: 0; /* 왼쪽에 고정 */
    z-index: 2;
}
.sidebar{
    justify-content: center;
    margin-right: auto;
    display: flex;
    position: sticky;
    /* height: 100vh; */
    top: 50%;
    transform: translateY(-50%);
    right: 300px;
    z-index: 3;

}
.inside{
    padding-left: 0%;
    color: black;
    text-decoration: none;
    height: 10lvh;
    text-align: center;
    display: flex;
    font-size: 3vh;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
}
.inside:hover{
    color: white;
}
.inside:active{
    font-size: larger;
}
.inside:visited{
    font-size: large;
}
.right{
    padding: 0%;
}

.box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 800px; */

}
.gray{
    background-color: rgb(194, 194, 194);
}
.white{

    background-color: white;
}
.image{
    
    max-width: 50%;

    
}
#left_sidebar{
    padding-left: 0%;
}


.not-provided {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  
@media (max-width: 800px) {

    .left{
        display: none;
    }

}


@media (max-width: 600px) {
    .container{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .not-provided {
        display: block;
    }
}
